<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <!-- <div class="alert alert-danger" *ngIf="error">
            <p>{{ error }}</p>
        </div> -->
        <app-alert [message]="error" *ngIf="error" (close)="onHandleError()"></app-alert>
        <!-- <ng-template appPlaceholder></ng-template> -->
        <!-- ng-template elemento che viene considerato da Angular quando analizza il template ma non rende nessun reale elemento nel DOM, ma mantiene l'accesso alla sua posizione -->
        <div *ngIf="isLoading" style="text-align: center">
            <app-loading-spinner></app-loading-spinner>
        </div>
        <form [formGroup]="authForm" (ngSubmit)="onSubmit(authForm)"
            *ngIf="!isLoading">
            <div class="form-group">
                <label for="email">E-mail</label>
                <input
                    type="email"
                    id="email"
                    class="form-control"
                    formControlName="email"
                />
                <span class="help-block"
                    *ngIf="!authForm.get('email')?.valid && authForm.get('email')?.touched"
                    >Please enter a valid email.
                </span>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input
                    type="password"
                    id="password"
                    class="form-control"
                    formControlName="password"
                />
                <span class="help-block"
                    *ngIf="!authForm.get('password')?.valid && authForm.get('password')?.touched"
                    >Please enter a valid password.
                </span>
            </div>
            <div>
                <button class="btn btn-primary" type="submit" [disabled]="!authForm.valid">
                    {{ isLoginMode ? 'Login' : 'Sign Up' }}
                </button> |
                <button class="btn btn-primary" (click)="onSwitchMode()" type="button">
                    Switch to {{ isLoginMode ? 'Sign Up' : 'Login' }}
                </button>
            </div>
        </form>
    </div>
</div>