<div class="row">
    <div class="col-xs-10">
        <!-- <app-shopping-edit
            (ingredientAdded)="onIngredientAdded($event)"
        ></app-shopping-edit> -->
        <app-shopping-edit></app-shopping-edit>
        <hr>
        <ul class="list-group">
            <a
                *ngFor="let ingredient of ingredients; let i = index"
                class="list-group-item"
                style="cursor: pointer"
                (click)="onEditItem(i)"
            > <!-- let i = index estrae l'id dall'index della corrente iterazione, che si passa al metodo onEditItem() --> 
                {{ ingredient.name }} ({{ ingredient.amount }})
            </a>
        </ul>
    </div>
</div>